@import "src/assets/style";

section {
  @media (min-width: 768px) {
    & {
      max-width: 70%;
      font-size: 2em;
    }
  }
  @media (min-width: 1200px) {
    & {
      max-width: 60%;
      font-size: 2.5em;
    }
  }

  max-width: 80%;
  font-size: 1.5em;

  & + section {
    margin: 2em 0 0 0;
  }
}

em {
  font-style: normal;
  font-family: $font-serif;
}

a {
  text-decoration: none;
  color: $text-primary;
}

.greeting {
  font-family: $font-serif;
}
