$primary-light: #253b36;
$primary-dark: #182421;
$text-primary: #ffffff;
$text-secondary: #2b2b2b;

$font-serif: "Source Serif Pro", serif;
$font-sans: "Source Sans Pro", sans-serif;

$transition-time: 0.2s;
